@import "./pagination.less";
@import "./header.less";
@import "./cell.less";
@import "./row.less";

:root {
    color-scheme: light dark;
    --prefix: bright-;

    --bt-base-bg-light: #fff;
    --bt-base-bg-dark: #000000;
    --bt-base-bg: light-dark(var(--bt-base-bg-light), var(--bt-base-bg-dark));

    --bt-border-color-light: #e8e8e8;
    --bt-border-color-dark: #1b1b1b;
    --bt-border-color: light-dark(var(--bt-border-color-light), var(--bt-border-color-dark));

    --bt-checkbox-bg-light: #e8e8e8;
    --bt-checkbox-bg-dark: #333;
    --bt-checkbox-bg: light-dark(var(--bt-checkbox-bg-light), var(--bt-checkbox-bg-dark));

    --bt-checkbox-bg-hover-light: #bcbcbc;
    --bt-checkbox-bg-hover-dark: #333;
    --bt-checkbox-bg-hover: light-dark(var(--bt-checkbox-bg-hover-light), var(--bt-checkbox-bg-hover-dark));

    // Row Background
    --bt-row-bg-light: #fff;
    --bt-row-bg-dark: #000000;
    --bt-row-bg: light-dark(var(--bt-row-bg-light), var(--bt-row-bg-dark));

    --bt-base-bg-light: #fff;
    --bt-base-bg-dark: #000000;
    --bt-base-bg: light-dark(var(--bt-base-bg-light), var(--bt-base-bg-dark));

    --bt-row-bg-hover-light: #E0EEFF;
    --bt-row-bg-hover-dark: #041529;
    --bt-row-bg-hover: light-dark(var(--bt-row-bg-hover-light), var(--bt-row-bg-hover-dark));

    --bt-row-bg-expanded-light: #e8e8e8;
    --bt-row-bg-expanded-dark: #1b1b1b;
    --bt-row-bg-expanded: light-dark(var(--bt-row-bg-expanded-light), var(--bt-row-bg-expanded-dark));

    --bt-header-bg-light: #fff;
    --bt-header-bg-dark: #000000;
    --bt-header-bg: light-dark(var(--bt-header-bg-light), var(--bt-header-bg-dark));

    // General icon color.
    // Defining this icon color will set the icon and bg color for all icons in the table. 
    // --bt-icon-color-light: #333;
    // --bt-icon-color-dark: #fff;
    // --bt-icon-bg-light: #e8e8e8;
    // --bt-icon-bg-dark: #1b1b1b;

    // Header customization icon color.
    --bt-cust-icon-color-light: var(--bt-icon-color-light, #333);
    --bt-cust-icon-color-dark: var(--bt-icon-color-dark, #fff);
    --bt-cust-icon-color: light-dark(var(--bt-cust-icon-color-light), var(--bt-cust-icon-color-dark));

    // Header customization icon bg.
    --bt-cust-icon-bg-light: var(--bt-icon-bg-light, #e8e8e8);
    --bt-cust-icon-bg-dark: var(--bt-icon-bg-dark, #1b1b1b);
    --bt-cust-icon-bg: light-dark(var(--bt-cust-icon-bg-light), var(--bt-cust-icon-bg-dark));

    // row expansion icon color.
    --bt-row-expand-icon-color-light: var(--bt-icon-color-light, #333);
    --bt-row-expand-icon-color-dark: var(--bt-icon-color-dark, #fff);
    --bt-row-expand-icon-color: light-dark(var(--bt-row-expand-icon-color-light), var(--bt-row-expand-icon-color-dark));

    // row expansion icon bg.
    --bt-row-expand-icon-bg-light: var(--bt-icon-bg-light, #cae2ff);
    --bt-row-expand-icon-bg-dark: var(--bt-icon-bg-dark, #505a67);
    --bt-row-expand-icon-bg: light-dark(var(--bt-row-expand-icon-bg-light), var(--bt-row-expand-icon-bg-dark));

    // button styles
    --bt-button-bg-light: #e8e8e8;
    --bt-button-bg-dark: #1b1b1b;
    --bt-button-bg: light-dark(var(--bt-button-bg-light), var(--bt-button-bg-dark));
    --bt-button-color-light: #333;
    --bt-button-color-dark: #fff;
    --bt-button-color: light-dark(var(--bt-button-color-light), var(--bt-button-color-dark));

    // hover normal button
    --bt-button-bg-light-hover: #d8d8d8;
    --bt-button-bg-dark-hover: #4e4e4e;
    --bt-button-bg-hover: light-dark(var(--bt-button-bg-light-hover), var(--bt-button-bg-dark-hover));
    --bt-button-color-light-hover: #333;
    --bt-button-color-dark-hover: #fff;
    --bt-button-color-hover: light-dark(var(--bg-button-color-light-hover), var(--bg-button-color-dark-hover));

    // disabled button 
    --bt-button-bg-disabled-light: #f8f8f8;
    --bt-button-bg-disabled-dark: #000000;
    --bt-button-bg-disabled: light-dark(var(--bt-button-bg-disabled-light), var(--bt-button-bg-disabled-dark));
    --bt-button-color-disabled-light: #efefef;
    --bt-button-color-disabled-dark: #1c1c1c;
    --bt-button-color-disabled: light-dark(var(--bt-button-color-disabled), var(--bt-button-color-disabled-dark));

    // active button 
    --bt-button-color-active: #fff;
    --bt-button-bg-active: #1B84FF;
    --bt-button-color-active-hover: #fff;
    --bt-button-bg-active-hover: #499DFF;

    // Font sizes
    --bt-font-size-normal: 14px;
    --bt-font-size-lg: 16px;
    --bt-font-size-sm: 12px;
}

.bright {
    @import './functions.less';
    @import './loader.less';
    @import './table.less';
    @import './treetable.less';
    @import './scrollbar.less';
    @import './column-group.less';
}

.bt {
    &-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
    }

    &-wrapper {
        width: 100%;
        overflow: hidden;
        border-radius: 8px;
        background: var(--bt-base-bg);
        border: 1px solid var(--bt-border-color);
    }

    &-direction-aware-con {
        border: 1px solid var(--bt-border-color);
        border-radius: 4px;
        padding: 4px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 500;
        opacity: 0;
        transform: translateX(50vw) translateY(50vh);
        pointer-events: none;
        display: none;
    }

    &-direction-aware-con-active {
        opacity: 1;
        display: block;
        pointer-events: all;
    }
}
