.bt-row {
    &-header {
        background: var(--bt-header-row-bg);
        color: var(--bt-header-row-color);
    }

    &-normal {
        background: var(--bt-normal-row-bg);
        color: var(--bt-normal-row-color);

        &:hover {
            background: var(--bt-normal-row-hover-bg);
        }
    }

    &:not(&-header):hover .bt-checkbox-unchecked {
        background: var(--bt-checkbox-hover-bg);
    }

    &-expanded {
        & .bt-checkbox-unchecked {
            background: var(--bt-checkbox-hover-bg);
        }

        &:not(&-header):hover .bt-checkbox-unchecked {
            background: var(--bt-checkbox-hover-bg);
        }

        background: var(--bt-expanded-row-bg);
        color: var(--bt-expanded-row-color);

        &:hover {
            background: var(--bt-expanded-row-hover-bg);
        }
    }
}
